<!DOCTYPE html>
<html>
<head>
<style>
img {
    width: 19%;
    height: 48%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
</style>
</head>
<body>
<section>
    <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
         <p>Find matches with url</p>
         <input type = "text" name = "reference_link" />
         <input type = "submit", value="find matches"/>
    </form>
</section><hr>
</body>
</html>